/***** BASE STYLES *****/

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #737373;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 598px;
}

#contact {
  height: 600px;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  float: left;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/

header img {
  transform: scaleX(-1)
}

#title {
  height: 598px;
  width: 598px;
  clear: right;
  border-right: 2px solid #ffffff;
  border-right: 2px solid transparent;
  border-image: linear-gradient(#ffffff, #ffffff, #00ff00, #00ff00);
  border-image-slice: 1;
}
#title h2 {
  font-size: 60px;
  line-height: 85px;
  letter-spacing: 30px;
  padding: 0 0 0 40px;
  transition: 1s;
}
#title h2:hover {
  color: #404040;
  transition: 1s;
}
#zachary {
  font-weight: 600;
}
#crate {
  font-weight: 500;
}
#designs {
  font-weight: 400;
}
#websites {
  font-weight: 200;
}

nav {
  height: 30px;
  width: 1200px;
  clear: both;
  text-align: center;
  background: #00ff00;
  background-image: linear-gradient(90deg, #00ff00, #ffffff, #00ff00, #ffffff, #00ff00, #ffffff, #00ff00);
  position: sticky;
  top: 0px;
  z-index: 4;
}
nav ul {
  height: 30px;
  margin: 0;
  padding: 0;
}
nav ul li {
  height: 30px;
  padding: 0;
  display: inline;
  background: #00ff00;
  transition: 1s;
}
nav ul li:hover {
  background: transparent;
  transition: 1s;
}
nav ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-shadow: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 1s;
}
nav ul li:hover a {
  text-shadow: 0 0 5px #000000;
  letter-spacing: 1px;
  transition: 1s ease;
}

/***** ABOUT *****/

#about {
  height: 600px;
  margin: 0;
  padding: 0;
  clear: both;
}

#about .half-width {
  height: 540px;
  margin: 30px 0;
}

#about-bio {
  padding: 30px 0;
}

#about-bio h2 {
  font-size: 36px;
  font-weight: 300;
  background: #ffffff;
  padding-left: 50px;
  margin: 0;
}
#about-bio p {
  font-size: 22px;
  line-height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#about-bio p span {
  font-weight: 500;
}

#about-photo {
  clear: right;
  width: 540px;
  padding: 0 0 0 60px;
}

#about-photo img {
  height: 480px;
  width: 480px;
  margin: 0;
  border: 30px solid #262626;
}

/***** WORK *****/

#work {
  height: 600px;
  margin: 0;
  padding: 0;
  clear: both;
  background-image: url("../img/blackboard.jpg");
  background-size: cover;
  repeat:no-repeat;
  color: #cccccc;
}

#work .third-width {
  height: 540px;
  margin: 30px 0;
  text-align: center;
}

#work img {
  width: 85px;
}

#bulb-lit {
  display: none;
}
#work .third-width:hover #bulb {
  display: none;
}
#work .third-width:hover #bulb-lit {
  display: inline;
}

#work h3 {
  margin: 0 auto;
  line-height: 50px;
  width: 250px;
  font-size: 35px;
  font-family: Gelasio;
  text-shadow: 2px 2px 2px #000000;
}
#work p {
  padding: 0 50px;
  line-height: 40px;
  font-size: 20px;
}

/***** CONTACT *****/

#contact {
  height: 700px;
  margin: 0;
  clear: both;
}

#contact .half-width {
  height: 540px;
  margin: 30px 0;
}

#contact-photo {
  width: 540px;
  padding: 0 60px 0 0;
}
#contact-photo img {
  height: 480px;
  width: 480px;
  margin: 0;
  border: 30px solid #262626;
}

#contact-info {
  padding: 0 30px;
  width: 540px;
}

#contact-info h2 {
  font-size: 36px;
  font-weight: 300;
  background: #ffffff;
  text-align: center;
}

#contact-info h3 {
  padding: 0 0 0 50px;
  font-size: 34px;
  font-family: Gelasio;
  vertical-align: middle;
}

#contact-info #email {
  padding: 0 0 0 50px;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  line-height: 50px;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0 50px;
}
#contact ul li {
  display: inline-block;
  padding: 0 70px 0 0;
}
#contact-info img {
  width: 50px;
}
